<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Game</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container">
            <h1 class="text-center my-4">New Game</h1>
            <form method="POST" action="/dashboard/new-game/confirm">
                <div class="form-group my-3">
                    <input type="hidden" name="userID" value="{{userID}}">
                    <input type="hidden" name="gameID" value="{{newGameID}}">
                    <label for="team1ID" class="form-label">Team 1 ID</label>
                    <input type="number" class="form-control" id="team1ID" name="team1ID" required>
                </div>
                <div class="form-group my-3">
                    <label for="team2ID" class="form-label">Team 2 ID</label>
                    <input type="number" class="form-control" id="team2ID" name="team2ID" required>
                </div>
                {% if error %}
                    <div class="alert alert-danger my-3" role="alert">
                        {{errMsg}}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>