<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>View Teams</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center m-4">Teams</h1>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Team ID</th>
                    <th scope="col">Team Name</th>
                  </tr>
                </thead>
                <tbody>
                    {% for team in userTeams %}
                        <tr>
                            <th scope="row">{{team['teamID']}}</th>
                            <td>{{team['teamName']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>

    </body>
</html>